@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Books Library</h1>
    <p class="lead">Books Library is a free library for borrowing books.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Books Library gives you the power to read your favourite books everywhere at any time online.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check all books</h2>
        <p>Navigate to our online book shelves and see what would you like to read.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Books</h2>
        <p>See a complete list of the books you have currently borrowed.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>